@import url('css-reset.css');

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('header.css');
@import url('popular-menu.css');
@import url('product.css');
@import url('statistics.css');
@import url('testimonials.css');
@import url('contact-us.css');
@import url('footer.css');

body {
    background: #21243d;
    color: #fff;
    font-family: "Montserrat";
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

h2 {
    font-size: 65px;
    font-weight: 700;
}

.btn-order {
    font-family: "Montserrat";
    font-size: 25px;
    padding: 10px 45px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: inherit;
    border: 3px solid #21243d;
    border-radius: 33px;
    background: #21243d;
    cursor: pointer;
    transition: 0.3s;
}

.btn-order:hover {
    background: #ccee3e;
    color: #21243d;
}

/* Large devices */
@media screen and (max-width: 992px) {
    section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}