#testimonials {
    background-image: url("../images/bg-testimonials.svg");
    background-size: cover;
    position: relative;
}

#testimonials::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(33, 35, 61, 0.7);
}

#testimonials .container {
    flex-direction: column;
    gap: 50px;
    text-align: center;
    position: relative;
}

#testimonials img {
    border-radius: 50%;
}

#testimonials p {
    font-size: 42px;
    font-weight: 400;
}

#testimonials h3 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

/* Large devices /desktop, laptop/ */
@media screen and (max-width: 992px) {
    #testimonials img {
        width: 200px;
    }
    
    #testimonials p {
        font-size: 22px;
    }

    #testimonials h3 {
        font-size: 28px;
    }
}